/* application-specific styles */

#main { margin: 0 20px; }

svg { background: lightgray; }
.draggable { cursor: move; }
line.wire { stroke: red; }
text.obj { pointer-events: none; }
rect.obj { stroke: black; fill: white; }
