# Configuration file for JET, see https://github.com/jeelabs/jet
# To be recognised, the file must be called "~/.jetrc" or "jet.config".
# This file is loaded from a shell script, ONLY put "var=value" lines in here!

# working directory path for JET/Hub
#HUBRUN="$GOPATH/src/github.com/jeelabs/jet/run"

# location of the JET/hub executable
#HUBEXE="$HUBRUN/../build/jethub"

# location of the hub definition file
#HUBDEF="$HUBRUN/hub.def"
