doctype

html(lang='en', ng-app='DoodleApp' ng-controller='DoodleCtrl')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title JET Doodle
    base(href='/')
    
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")

  body
    #layout.pure-g
      .pure-u-1-24
      #main.pure-u-22-24
        .header
          h1 Doodle Page

        .content
          form.pure-form
            fieldset
              legend Serial port
              input(type="text" placeholder="/dev/tty..." ng-model="tty")
              button.pure-button.pure-button-primary(ng-click="connect()").
                Connect
              button.pure-button(ng-click="disconnect()").
                Disconnect
            fieldset
              legend Firmware (.bin)
              input(type="file" file-model="file")
              button.pure-button.pure-button-primary(ng-click="upload()").
                Upload
            fieldset
              legend Output
              .pure-g
                .pure-u-1
                  textarea(style="width:100%" rows=10 readonly wrap="off")

          pre.
            tty = {{tty}}
            file = {{file}}

    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-websocket-service/websocket.js")
    script(src="doodle/doodle.js")
