<!DOCTYPE html>
<html lang="en" ng-app="DoodleApp" ng-controller="DoodleCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JET Doodle</title>
    <base href="/">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>
  <body>
    <div id="layout" class="pure-g">
      <div class="pure-u-1-24"></div>
      <div id="main" class="pure-u-22-24">
        <div class="header">
          <h1>Doodle Page</h1>
        </div>
        <div class="content">
          <form class="pure-form">
            <fieldset>
              <legend>Serial port</legend>
              <input type="text" placeholder="tty..." ng-model="tty">
              <button ng-click="connect()" class="pure-button pure-button-primary">Connect</button>
              <button ng-click="disconnect()" class="pure-button">Disconnect</button>
              <button ng-click="reset()" class="pure-button">Reset</button>
            </fieldset>
            <fieldset>
              <legend>Firmware (.bin)</legend>
              <input type="file" file-model="file">
              <button ng-click="upload()" class="pure-button pure-button-primary">Upload</button>
            </fieldset>
            <fieldset>
              <legend>Output</legend>
              <div class="pure-g">
                <div class="pure-u-1">
                  <textarea style="width:100%" rows="10" readonly wrap="off"></textarea>
                </div>
              </div>
            </fieldset>
          </form>
          <pre>tty = {{tty}}
file = {{file}}
</pre>
        </div>
      </div>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-websocket-service/websocket.js"></script>
    <script src="doodle/doodle.js"></script>
  </body>
</html>