/* application-specific styles */

#sidebar { padding: 0 1em; }

pre { white-space: pre-wrap; }

svg { background: #eee; }
.draggable { cursor: move; }
path.wire { stroke: red; fill: none; }
text.obj { pointer-events: none; }
rect.obj { stroke: black; fill: white; }
