doctype

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title JET/Web
    
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
    link(rel="stylesheet", href="css/side-menu.css")

  body
    #layout
      a.menu-link#menuLink(href='#menu')
        span

      #menu
        .pure-menu.pure-menu-open
          a.pure-menu-heading(href='#') JET / Web
          ul
            li: a(href='#') Home
            li: a(href='#') About
            li.menu-item-divided.pure-menu-selected
              a(href='#') Services
            li: a(href='#') Contact

      #main
        .header
          h1 JET Front Page
          h2 Nothing but a bunch of placeholders...

        .content
          h2.content-subhead Let's Speak Some Latin
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.

          .pure-g
            .pure-u-1-4
              img.pure-img-responsive(src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg", alt="Peyto Lake")
            .pure-u-1-4
              img.pure-img-responsive(src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg", alt="Train")
            .pure-u-1-4
              img.pure-img-responsive(src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg", alt="T-Shirt Store")
            .pure-u-1-4
              img.pure-img-responsive(src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg", alt="Mountain")

          h2.content-subhead Try Resizing your Browser
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.

    script(src="js/ui.js")
