doctype

html(lang='en', ng-app='MyApp' ng-controller='MainCtrl')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title JET/Web
    base(href='/')
    
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
    link(rel="stylesheet", href="css/side-menu.css")

  body
    #layout
      a.menu-link#menuLink(href='#menu')
        span

      #menu
        .pure-menu.pure-menu-open
          a.pure-menu-heading(href='#') JET / Web
          ul
            li: a(href='#') Home
            li: a(href='#') About
            li.menu-item-divided.pure-menu-selected
              a(href='#') Services
            li: a(href='#') Contact

      #main
        .header
          h1 Front Page
          h2 {{dummyMsg}}

        .content
          h2.content-subhead Let's Speak Some Latin
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.

          a.pure-button(href="doodle") Doodle page

          h2.content-subhead Try Resizing your Browser
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    script(src="js/ui.js")
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-websocket-service/websocket.js")
    script(src="js/app.js")
